@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

body{
    background: paleturquoise;
}

.container{
    width: 300px;
    height: 550px;
    background-color: #f7f7f4;
    opacity: 80%;
    border-radius: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: larger;
    filter: drop-shadow(16px 16px 20px #4169e1);
    word-spacing: 0.5em;
    line-height: 2em;
}

h1{
    font-size: 17px;
}
 
h2{
    font-size: 16px;
}

h3{
    font-size: 15px;
    font-weight: lighter;
}